{% extends 'layout/base_content.html.twig' %}

{% block title %}Статья: {{ article.title }}{% endblock %}
{% block keywords %}{{ article.keywords }}{% endblock %}

{% block content %}

<div class="media d-flex align-content-center">
    <img class="article-detail-image align-self-start mr-3 rounded" src="{{ asset(article.imagePath) }}">
    <div class="media-body d-inline-block align-self-center">
        <h1 class="mb-2">{{ article.title }}</h1>
        <div class="d-flex mb-2">
            <div class="text-muted align-self-center">
                <img class="article-author-img rounded-circle mr-2" src="{{ article.authorAvatarPath }}">
                {{ article.author }}
            </div>
            <div class="text-muted align-self-center ml-4"><i class="fas fa-clock size-is-"></i> {{ article.publishedAt ? article.publishedAt|ago : 'Неопубликована' }}</div>
        </div>

        {% include 'partial/article_tags.html.twig' with {tags: article.tags} %}
        
        <div class="mb-2">
            <div class="text-muted align-self-center article-detail-arrows" data-item="vote">
                <span data-item="voteCount" class="{{ article.voteCount > 0 ? 'text-success' : 'text-danger' }}">{{ article.voteCount }}</span> 
                <button 
                    class="btn btn-success ml-3" 
                    data-item="up"
                    data-href="{{ path('app_article_vote', {slug: article.slug, type: 'up'}) }}">
                        <i class="fas fa-arrow-up"></i>
                    </button>
                <button 
                    class="btn btn-danger" 
                    data-item="down"
                    data-href="{{ path('app_article_vote', {slug: article.slug, type: 'down'}) }}">
                    <i class="fas fa-arrow-down"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="col-12 mt-2 mb-4">
    {{ article.body|cached_markdown }}
</div>

{% include 'articles/comments.html.twig' %}

{% endblock %}